@import './__color_variable.css';

/* @mixin shadow($offset_x, $offset_y, $blur_radius, $spread_radius, $color) {
    box-shadow: $offset_x $offset_y $blur_radius $spread_radius $color;
} */

body {
    background: var(--color-background);
    min-height: 100vh;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

#app {
    margin: 0 auto;
  }